* {
    text-decoration: none !important;
}

.sidebar {
    flex: 0.35;
    display: flex;
    flex-direction: column;
}

.sidebar_header {
    display: flex;
    padding: 20px;
    
}

.sidebar_chat {
    flex: 1;
    background-color: #97a1a5;
    overflow-y: scroll;
}

.sidebarchat_names {
    display: flex;
    margin-left: 50px;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    color: #000000;
}

  


.sidebarchat_names:hover {
    background-color: #ece3e3d9;
}

.sidebarchat_info > h2 {
    font-size: 25px;
    margin-bottom: 8px;
    text-decoration: none;
}

.sidebarchat_info {
    margin-left: 20px;
    text-decoration: none;
}

#addChatText {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: xx-large;
    color: #cccccc;
    border-color: blueviolet;
    width: fit-content;
    padding: 10px;
    background-color: #e1e2e4;
    border-radius: 15px;
    margin-left: 17%;
    
}

#chatWaveText {
    font-family: 'Varela Round', sans-serif;
    font-size: xx-large;
}

.chatWaveTextBox {
    position: absolute;
    font-size: 30px;
    margin-left: 300px;
    /* width: fit-content; */
    margin-top: -21px;
    margin-left: 115px;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 220px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}